<h2>Create a new Entry: </h2>

<form class="" action="/volunteer_entries" method="post">
  <label for="name">Content:</label>
  <input type="text" name="location">
  <input type="text" name="date">
  <input type="text" name="description">
  <input type="submit" name="" value="Create Entry">
</form>
