    
<body>
    <div class="text-center">
        <h1>Welcome To Charlottesville Volunteer Log Signup</h1>
            <h2>Please create an account: <a href='/login'>(Already have an account? Log in here)</a></h2>
                <form method="POST" action='/signup'>
                <label>Name: </label><br>
                <input type="text" name="name" required><br>
                <label>Email: </label><br>
                <input type="text" name="email" required><br>
                <label>Create a Password: </label><br>
                <input type="password" name="password" required><br>
                <input type="submit" class="btn btn-info">
            </form>
        </div>
    </div>
</body>