SHOW PAGE FOR A VOLUNTEER ENTRY

<p><%= @volunteer_entrys.content %>

<form method="post" action="/entrys/<%=@entry.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Entry">
</form>

<a href="/entrys/<%=@entry.id%>/edit">Edit Entry </a>