<h1>Edit <%= @log.title %></h1>

<form action="/logs/<%=@log.id %>" method="POST">
  <label> Log Title </label>
  <input type="text" name="title" value="<%=@log.title %>"> </br>

  <label> Log Points </label>
  <input type="text" name="points" value="<%=@log.points%>"> </br>

  <input type="submit" value="Update">
</form>
