<h1>Add a New Volunteer Log <%= @log.title %></h1>

<form action="/logs" method="POST">
  <label> Log Title </label>
  <input type="text" name="title"> </br>

  <label> Log Points </label>
  <input type="text" name="points"> </br>
   <h2> You have accumulated <%= "#{@user.entrys.size}"%> point(s)</h2>

  <input type="submit" value="submit">
</form>
