<h1>Add a New Volunteer Log <%= @log.name %></h1>

<form action="/logs" method="POST">
  <label> Log Name </label>
  <input type="text" name="name"> </br>

  <label> Log Points </label>
  <input type="text" name="points"> </br>

  <input type="submit" value="submit">
</form>
