<!DOCTYPE html>

  <head>
    
    <title>VolunteerApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <%# Viewport for responsive website/over-rides default viewport on mobile devices for optimal viewability on mobile devices %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  
   
  <body>
   <nav style="background:grey;height:100px;">
   </nav>
    <div class="wrapper">

        <%= yield %>

      
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
    <%# bootstrap has a dependency on jquery %>

      <footer class="branding">
        <div class="text-center">
        <small>&copy; 2018 <strong>VolunteerApp</strong></small>
        </div>
      </footer>
    </div>   
  </body>
</html>


<style>
.footer {
    color: #333;
    font-size: 11px;
    text-align: center;
    vertical-align: bottom;
    margin-top: 120px;
}

</style>